td#char-name {
    width: 10%
}

td#char-rare {
    width: 5%
}

td#char-class-name {
    width: 10%
}

tr#char-table-header {
    background-color: rgb(158,158,158);
    color: rgb(66,66,66);
}

table#char-list-table {
    width: 100%;
    table-layout: fixed;
}
